external:
  enabled: true
  api_key: ''
  site_key: ''
  api3_rest_url: 'https://crm.rsr.bio/wp-json/civicrm/v3/rest'
  api4_rest_url: 'https://crm.rsr.bio/civicrm/ajax/api4/'

forminator:
  56:
    contact:
      entries:
        first_name: 'name-1'
        last_name: 'text-1'
    email:
      location_type_id: 3
      is_primary: true
      entries:
        email: 'email-1'
    activity:
      type: 57
      subject: 'Iscrizione alla newsletter'
    subscribe:
      value: 2
    tags:
      values:
        - 23


